body {
    background-color: lightblue;
}

.function{
    border-style: solid;
}

div.PropsSI {
    background-color: rgb(234, 250, 11);
    padding: 1em;
}

div.HAPropsSI {
    background-color: rgb(45, 207, 107);
    padding: 1em;
}

div#T0, div#T1 {
    display: none;
}

.output {
    font-weight: bold;
}

.NEWcomand {
    text-align: center;
    padding: 1em;
}

.workplace {
    border-style: outset; 
}