body {
    background-color: lightblue;
}

.function{
    border-style: dashed;
}

.PropsSI {
    background-color: rgb(234, 250, 11)
}

.HAPropsSI {
    background-color: rgb(45, 207, 107)
}

/*
.PropsSI#template {
    display: none;
}
*/