body {
    background-color: lightblue;
}

.function{
    border-style: dashed;
}

div.PropsSI {
    background-color: rgb(234, 250, 11)
}

div.HAPropsSI {
    background-color: rgb(45, 207, 107)
}

div#T0, div#T1 {
    display: none;
}

.output {
    font-weight: bold;
}

div.NEWcomand {
    text-align: center;
}
